{{template "header.html" .}}
<div>
	<h1>Zhihu News</h1>
	<a href="/hot"><h3>hot</h3></a>
	<a href="/latest"><h3>latest</h3></a>
	<a href="/before/20150809"><h3>before</h3></a>
	<a href="/themes"><h3>themes</h3></a>
	<!-- <a href="/theme/11"><h3>theme</h3></a> -->
	<a href="/sections"><h3>sections</h3></a>
	<!-- <a href="/section/1"><h3>section</h3></a> -->
	<!-- <a href="/bsection/1/1398780001"><h3>bsection</h3></a> -->
	<!-- <a href="/news/3892357"><h3>news</h3></a> -->
	<!-- <a href="/story/3876052"><h3>story</h3></a>
	<a href="/lcom/3876052"><h3>lcom</h3></a>
	<a href="/scom/3876052"><h3>scom</h3></a> -->
</div>
{{template "footer.html" .}}